<!-- <img src="construction.png"  > -->>

<h1>Time to Get in Shape</h1>



<form action="/exercise" method="post" id="workoform">
    <label for="Your Data">Your Exercise Data:</label>
    <input id="name" type="text" name="name" placeholder="exercise name">
    <input id="reps" type="text" name="reps" placeholder="reps">
    <input id="weight" type="text" name="weight" placeholder="weight">
    <input id="date" type="text" name="date" placeholder="date">
    <input id="lbs" type="number" name="lbs" placeholder="0 for kg or 1 for lbs">
    <input type="submit" name="Exercise" id="exercise" value="add">
</form>





<table>
    <thead>
        <trow>
            <th>Exercise Name</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Date</th>
            <th>lbs/kg</th>


        </trow>
    </thead>
    <tbody id="data">
        {{#if results}} {{#each results}}
        <tr id="row{{this.id}}">
            <td>{{this.name}}</td>
            <td>{{this.reps}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.date}}</td>
            <td>{{this.lbs}}</td>
            <td>
                <form method="post">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="submit" name="edit" value="edit">
                    <input  type="submit" name="deleted" value="delete">
                </form>
            </td>
        </tr>
        {{/each}} {{/if}}
    </tbody>
</table>
</tbody>

</table>

<script src = "/exercisescript.js"></script>

